*{
    box-sizing: border-box;
    padding:0;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
body,html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
}
.cover{
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    z-index: 9999;
    position: fixed;
    top: 0;

}
/* header */
.container{
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    padding: 8px 16px;
  
}
header .menu{
    width: 50%;
    display: flex;
    padding: 8px 0;
}
header .menu ul{
    display: flex;
    align-content: center;
    gap: 20px;
}
header .menu ul li a{
    font-size: 15px;
    letter-spacing: 5px;
    padding:0 16px ;
}
header .menu ul li:hover{
    background-color: grey;
}
 header .logo{
    width: 50%;
}
header .logo h2{
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 5px;
    padding:0 16px ;
    text-align: right;

}
/* main */
/* backgroundimg section */
 main .bgimg{
    width: 100%;
    display: flex;
    background:url('tea.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 16/9;
    justify-content:flex-start ;
    align-items: flex-end;
    
}
 main .bgimg h2{
    font-size: 36px;
    opacity: 0.8;
    margin: 16px 16px;
    letter-spacing: 5px;


 }
 /* about section */
 .about{
    width: 80%;
    margin: 64px auto;
    display: flex;
    gap: 30px;
     scroll-margin-top: 80px;
    

 }
.about .about-img{
    width: 50%;
    
}
 .about .about-content{
    width: 50%;
    text-align: center;
    line-height: 2.5;
    
 }
 .about .about-content h2{
     font-size: 36px;
     font-weight: 400;
     margin: 16px 16px;


 }
  .about .about-content h4{
     font-size: 16px;
     font-weight: normal;
     margin: 16px 16px;
     letter-spacing: 5px;
     color: grey;
  }
.about .about-content p{
     font-size: 16px;
     font-weight: normal;
     margin: 16px 16px;
     text-align:justify
}
.about .about-content h5{
    font-size: 16px;
     font-weight: normal;
     margin: 16px 16px;
     text-align:justify;
     color: grey;  
}
.menuitem{
    width: 80%;
    margin: 64px auto;
    display: flex;
    gap: 30px;
    scroll-margin-top: 80px;
    

 }
  .menuitem .menu-content{
    width: 50%;
    text-align: center;
    line-height: 2.5;
    
 }
  .menuitem .menu-content h2{
     font-size: 36px;
     font-weight: 400;
     margin: 16px 16px;


 }
   .menuitem .menu-content h3{
     font-size: 18px;
     text-align: left;


 }
  .menuitem .menu-content p{
     font-size: 15px;
     text-align: left;
     color: grey;

  }
 .menuitem .menu-img{
    width: 50%;
     align-content: center;

    
}
/* contacts */
footer .contact{
    width: 80%;
    margin: 64px auto;
     line-height: 2.5;
}
.contact  h2{
     font-size: 36px;
     font-weight: 400;
     text-align: left;
 }
.contact  p{
     font-size: 16px;
     font-weight: 400;
     text-align: left;
 }
 .contact form input{
    width: 100%;
    display: inline-block;
    border: none;
    border-bottom: 0.5px solid grey;
    padding: 20px 8px;
    margin: 16px auto;
 }
 .contact form input[type="submit"] {
    width: auto;
    padding: 10px;
    border:none;
    font-size: 16px;
    color:white;
    background-color:black;
 }
  .contact form input[type="reset"] {
    width: auto;
    padding: 10px;
    border:none;
    font-size: 16px ;
    color:white;
    background-color:black;
}
 


@media (max-width: 768px) {
    header .menu ul li a{
    padding: 0;
    margin: 0;
    letter-spacing: normal;
    font-size: 12px;
    }
    header .logo h2{
    letter-spacing: normal;}

    main .bgimg{
    width: 100vw;
    height: 56.25vw;
    background-size: contain;
    
    
    
    } 
     main .bgimg h2{
        letter-spacing: normal;
        font-size: 20px;
     }
  
        
    .about{
        flex-wrap: wrap;
        justify-content: center;
        line-height: normal;
        margin: 30px auto;
    }
    .menuitem{
        flex-wrap: wrap;
        justify-content: center;
        line-height: normal;
        margin: 30px auto;
    }
    .contact{
         margin: 30px auto;
    }




}